 body {
        font-family: Arial, sans-serif;
        margin: 0;
        padding: 0;
      }

      table {
        border-collapse: collapse;
        width: 100%;
      }

      th,
      td {
        padding: 8px;
        text-align: center;
        border-bottom: 1px solid #ddd;
      }

      th {
        background-color: #f2f2f2;
      }

      tr:hover {
        background-color: #f5f5f5;
        cursor: pointer;
      }

      h1 {
        color: #333;
        text-align: center;
      }

      .userContent {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        padding: 10px 20px;
        margin-bottom: 2%;
      }

      .headerContent {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px 20px;
        margin-bottom: 2%;
        background-color: #f2f2f2;
      }

      .filterContent input[type="text"],
      .filterContent input[type="submit"] {
        margin-right: 15px;
      }

      a {
        list-style: none;
        text-decoration: none;
        color: #333;
      }

      .disabled-link {
        pointer-events: none;
        color: gray;
        text-decoration: none;
        cursor: default;
      }

      .auth-message {
        text-align: center;
        margin-bottom: 10px;
      }

        #dialog {
          position: fixed;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          width: 600px;
          height: 400px;
          background-color: white;
          padding: 20px;
          border: 1px solid black;
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
          opacity: 1;
          transition: opacity 0.3s ease-in-out;
        }

        #dialog.close {
          opacity: 0;
        }