body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: var(--color-quaternary);
}

h1 {
    text-align: center;
    margin-top: 10px;
}

form {
    max-width: 500px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    background-color: var(--color-tertiary);
}

select {
    width: 100%;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
}
option{
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
    
}




.element {
    margin-bottom: 15px;
}

.element label {
    display: block;
    margin-bottom: 5px;
}

.element input {
    width: 100%;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.element input[type="submit"] {
    background-color: #4caf50;
    color: #fff;
    cursor: pointer;
}

.element input[type="submit"]:hover {
    background-color: #45a049;
}

#alertDialog.close {
    opacity: 0;
}


body {
    --color-primary: #495464;

    --color-secondary: #BBBFCA;
  
    --light-grey: #F6F1F1;
  
    --color-tertiary: #E8E8E8;
  
    --color-quaternary: #F4F4F2;
  
    --papaya2: #f15e5e;
  
    --white: #ffffffff;
  
    --black:#000000;
  
    --dark-grey:#A9A7A7;
  
    --green:#69a869;
  }