body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: var(--color-quaternary);
}

table {
  border-collapse: collapse;
  width: 100%;
}



td {
  padding: 8px;
  text-align: center;
  border-bottom: 1px solid #ddd;
}

th {
  background-color: var(--color-primary);
  padding: 8px;
  color: #eeeeee;
}

tr{
}

.instrumento:hover {
  cursor: pointer;
  background-color: var(--color-tertiary);
  -webkit-user-select: none;
-khtml-user-select: none;
-moz-user-select: none;
-ms-user-select: none;
-o-user-select: none;
user-select: none;
}


h1 {
  color: #333;
  text-align: center;
}

.userContent {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 10px 20px;
  margin-bottom: 2%;
  margin-right: 1%;
}

.headerContent {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  margin-bottom: 2%;
  background-color: var(--color-quaternary);
}

.filterContent input[type="text"],
.filterContent input[type="submit"] {
  margin-right: 15px;
}

a {
  list-style: none;
  text-decoration: none;
  color: #333;
}

.disabled-link {
  pointer-events: none;
  color: gray;
  text-decoration: none;
  cursor: default;
}

.auth-message {
  text-align: center;
  margin-bottom: 10px;
}
.editBtn{
    margin-left: 10px;
    padding: 5px 10px;
    border-radius: 5px;
    background-color: var(--green);
    color: white;
    border: none;
    cursor: pointer;
}
.deleteBtn{
    margin-left: 10px;
    padding: 5px 10px;
    border-radius: 5px;
    background-color: var(--papaya2);
    color: white;
    border: none;
    cursor: pointer;
}
.mainTitle{
    border: #000000 1px solid;
    padding: 5px 10px;
    background-color: var(--color-secondary);
    color: var(--black);
    text-align: center;
    border-right: none;
    border-left: none;
    

}

#dialog {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 600px;
  height: 400px;
  background-color: white;
  padding: 20px;
  border: 1px solid black;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  opacity: 1;
  z-index: 1; /* Establecer un valor inicial positivo */

  transition: opacity 0.3s ease-in-out;
}

#dialog.close {
  opacity: 0;
  z-index: -100;
  transition: opacity 1s ease-in-out, z-index 0s;


}

.header{
    display: flex;
    justify-content: space-between;
}


body {
  --color-primary: #495464;

  --color-secondary: #BBBFCA;

  --light-grey: #F6F1F1;

  --color-tertiary: #E8E8E8;

  --color-quaternary: #F4F4F2;

  --papaya2: #f15e5e;

  --white: #ffffffff;

  --black:#000000;

  --dark-grey:#A9A7A7;

  --green:#69a869;
}

